/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

# compiled assets
/public/js/app.js
/public/css/app.css
/public/mix-manifest.json

/resources/assets/css/app.css
/resources/assets/js/app.js
/package-lock.json